@tailwind base;
@tailwind components;
@tailwind utilities;





body {
  position: relative;
  transition: all .2s ease;
  text-wrap: pretty;
  background-color: rgb(243, 243, 243);
  height:100vh;
  color:  rgb(39, 39, 39);

}

.dark{
  background-color: rgb(39, 39, 39);
  color: white;
  transition: all .2s ease-in;
}
