@tailwind base;
@tailwind components;
@tailwind utilities;





body {
  transition: all .2s ease;
  background-color: rgb(243, 243, 243);
  color: rgb(39, 39, 39);
  text-wrap: pretty;
  line-height: 2px;
}

.dark {
  background-color: rgb(39, 39, 39);
  color: white;
  transition: all .2s ease-out;
}
